<!DOCTYPE html>
<html>
  <% include head %>
  <body>
    <% include nav %>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="btn-group pull-right">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Export <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li><a href="#">csv</a></li>
                <li><a href="#">text</a></li>
              </ul>
            </div>
            <h1><i class="fa fa-envelope-o"></i> E-Mail</h1>
          </div>
          <div class="panel-body">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>E-Mail</th>
                </tr>
              </thead>
              <tbody>
                <% emails.forEach(function(email) { %>
                  <tr>
                    <th><%= email.ID %></th>
                    <td><%= email.EMAIL %></td>
                  </tr>
                <% }); %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-md-2"></div>
  </body>
</html>
