<!DOCTYPE html>
<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
		<link href='https://fonts.googleapis.com/css?family=Pontano+Sans' rel='stylesheet' type='text/css'>
		<link href='css/launch.css' rel='stylesheet' type='text/css'>
		<script type="text/javascript" src='https://code.jquery.com/jquery-2.1.3.min.js'></script>
		<script type="text/javascript" src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js'></script>
    <script type="text/javascript" src='js/submit.js'></script>
		<!-- Title -->
		<title>collector | very basic email collection pre launch landing page</title>
	</head>
	<body>
      <div class="col-md-2"></div>
      <div class="col-md-8">
				<div class="panel panel-default">
					<div class="panel-heading">
            <h1>Collector Login</h1>
				  </div>
					<div class="panel-body">
            <form class="form-inline" role="form" method="POST" id="login-form" action="/login">
              <div class="row">
                <div class="form-group">
                  <input type="text" class="form-control input-lg" name="username" placeholder="Username">
                </div>
                <div class="form-group">
                  <input type="password" class="form-control input-lg" name="password" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-default btn-lg">Log In!</button>
              </div>
            </form>
				  </div>
			  </div>
      </div>
      <div class="col-md-2"></div>
</body>
</html>
