<!DOCTYPE html>
<html>
  <% include head %>
  <body>
    <% include nav %>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
				<div class="panel panel-default">
          <div class="panel-heading">
            <h1><i class="fa fa-cog"></i> Settings</h1>
				  </div>
				  <div class="panel-body">
				    <form>
					    <div class="row">
                <div class="form-group">
									<label for="pagename">Page Name</label>
                  <input type="text" class="form-control input-lg" name="pagename" placeholder="Page Name">
                </div>
                <div class="form-group">
                  <label for="logo">Logo</label>
                  <input type="text" class="form-control input-lg" name="logo" placeholder="Select Logo">
                </div>
								<div class="form-group">
									<label for="FontSelection">Font-Family</label>
									<select id="FontSelection" name="FontSelection" class="form-control input-lg">
                    <option value="ABeeZee" selected>
											ABeeZee
										</option>
										<option value="Abel">
											Abel
										</option>
									</select>
								</div>
                <div class="form-group">
                  <label for="css">Custom CSS</label>
                  <textarea class="form-control" rows="3" name="css"></textarea>
                </div>
					    </div>
				    </form>
			    </div>
			  </div>
      </div>
      <div class="col-md-2"></div>
  </body>
</html>
